.open-todo-item {
  padding: 1rem;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.open-todo-item:hover {
  background: #eff7fd;
}

/* todo-item 사이에 윗 테두리 */
.open-todo-item + .open-todo-item {
  border-top: 1px solid #f1f3f5;
}

.open-todo-text {
  flex: 1; /* 체크, 엑스를 제외한 공간 다 채우기 */
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}

.open-check-mark {
  font-size: 1.2rem;
  line-height: 1rem;
  color: #3bc9db;
  font-weight: 800;
}
